<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="serviceprovider" name="Servlet Filter Websocket provider" schema="schema/serviceprovider.exsd"/>
   <extension-point id="tomcatstartedlistener" name="Tomcat started listener" schema="schema/tomcatstartedlistener.exsd"/>
</plugin>
